/* .nav{
    background-color: black;
} */
.text{
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}
/* .icon{
    display: inline-flex;
flex-direction: row;
}
.icon1{
    height: 5vh;
margin: 1vh;
width: 5vh;
}*/
a{
    color: aqua;
}
/*
.icon2{
    height: 4vh;
width: 4vh;
} */

.a:hover{
    color: rgb(173, 58, 255);
}



@keyframes slideBottom{
    0%{
        transform:translateY(-100px);
        opacity: 0;
    }
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}

